{% schema %}
{
  "name": "Coupon Slider",
  "target": "section",
  "settings": []
}
{% endschema %}

{{ 'coupon_slider.css' | asset_url | stylesheet_tag }}

<div
  id="ps-coupon-slider-{{ block.id }}"
  data-shop="{{ shop.permanent_domain }}"
  data-product-handle="{{ product.handle }}"
  data-collection-handles="{% for collection in product.collections %}{{ collection.handle }}{% unless forloop.last %},{% endunless %}{% endfor %}"
  data-current-collection="{{ collection.handle }}"
>
  <div>Loading coupons...</div>
</div>

<script src="{{ 'coupon_slider.js' | asset_url }}" defer="defer"></script>
